.client-card {
    margin: 2rem 0;
    padding: 2rem;
    transition-duration: var(--main-transition-durirtion);
    border-radius: var(--main-border-radius-d);
    cursor: pointer;
    border: .3rem solid var(--white);
}

.client-card .title {
    min-height: 4rem;
}

.client-card .body {
    margin: 1rem 0;
    color: var(--gray);
}

.client-card .body .item {
    margin-bottom: .2rem;
    font-weight: 500;
}

.client-card .body .item:last-child {
    margin-bottom: 0;
}

.client-card:last-child {
    margin-bottom: 0;
}

.client-card.active:hover {
    border: .3rem solid var(--orange);
}

.client-card:hover {
    border: .3rem solid var(--light);
}
