.vertical-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: var(--toolBar-width);
    height: 100vh;
    background-color: var(--dark);
}

.vertical-menu .bottom-container {
    position: fixed;
    bottom: 0;
    width: var(--toolBar-width);
}