.tool-bar-item {
    color: var(--color-1);
    font-weight: bold;
    display: block;
    padding: 1rem;
    margin: 1.25rem 2rem;
    transition-duration: var(--main-transition-durirtion);
}

.tool-bar-item:hover {
    text-decoration: inherit;
    color: var(--color-5);
}

.tool-bar-item:focus {
    outline: none;
    color: var(--color-5);
    text-decoration: none;
}

.tool-bar-item svg {
    margin-right: .5rem;
}

.tool-bar-item.active:hover {
    color: var(--color-5);
}

.tool-bar-item svg {
    transition-duration: var(--main-transition-durirtion);
    opacity: .25;
}

.tool-bar-item.active svg {
    color: var(--color-4);
    opacity: 1;
}

.tool-bar-item:focus svg {
    color: var(--color-4);
    opacity: 1;
}

.tool-bar-item:hover svg {
    color: var(--color-4);
    opacity: 1;
}