.tool-bar-item {
    color: var(--white);
    font-weight: bold;
    display: block;
    padding: 1rem;
    margin: 1.25rem 2rem;
    transition-duration: var(--main-transition-durirtion);
    border-radius: var(--main-border-radius-d);
}

.tool-bar-item:hover {
    text-decoration: inherit;
    color: var(--light);
}

.tool-bar-item.active {
    background: var(--secondary);
}

.tool-bar-item svg {
    margin-right: .5rem;
    color: var(--orange);
    opacity: .25;
}

.tool-bar-item.active svg {
    opacity: 1;
}